* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: auto;
  background-color: #1b4656;
  padding: 10px;
}
[class*="col-"] {
  float: left;
}
.my-div {
  height: 100px;
  background-color: white;
  border: 2px solid black;
  margin: 5px;
}
.clear {
  clear: both;
}